@charset "UTF-8";
/* Header geral */

header#page-header {
  /* Filhos diretos */
  & > * {
    padding-left: var(--padding-lateral-container);
    padding-right: var(--padding-lateral-container);

    /* Transição ao redimencionar tela */
    transition-property: padding;
    transition-duration: 2s;
  }
}

/* Banner "Assine nossa newsletter" */
#banner-newsletter-header {
  /* Espaçamento */
  padding-top: 10px;
  padding-bottom: 14px;

  /* Flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espaço entre paragrafo e ícone */

  /* Tipografia */
  text-align: center;
  font-size: 0.75rem;
  /* Cor da letra */
  & p {
    color: var(--letra-cinza2);

    /* Bloco do parágrafo */
    width: 100%;
  }

  /* Inserir ícone de redirecionamento */
  &::after {
    /* SVG do ícone */
    content: url("../../assets/svgs/ui-icons/ui-actions-icons/redirect.svg");
  }
}

/* Header principal (onde há a logo e navbar) */
#header-principal {
  /* Aparência */
  background: var(--background-secundario);
  /* Borda */
  border-top: solid 1px var(--dark15);
  border-bottom: solid 1px var(--dark15);

  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Espaçamento */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Logo e título do header */
#logo-header {
  display: flex;
  align-items: center;
  & img {
    /* Dimensões do logo */
    height: 35px;

    /* Transição */
    transition: height 1s;
  }
}
