@charset "UTF-8";
/* CTA (Call to Action) do footer */
/* Mobile (vw < 1200px */

/* Lista de cards do CTA */
#footer-cta-cards-list {
  /* Espaçamento */
  padding: 10px;
  /* Flexbox */
  flex-direction: column;
  gap: 10px;
}

/* Headline do CTA */
#footer-cta-headline {
  /* Linha com imagem e badge */
  & .linha-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
