@charset "UTF-8";
/* CTA (Call to Action) do footer */
/* Todas as telas */

#footer-cta {
  /* Espaçamento */
  padding-top: 40px;
  padding-bottom: 40px;

  /* Tipografia */
}

/* Headline do CTA */
#footer-cta-headline {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  /* Espaço entre o headline e card list */
  margin-bottom: 40px;

  /* Logo desktop */
  & > img {
    height: 120px;
  }

  /* Título do CTA */
  & h2 {
    /* Espaçamento */
    margin-bottom: 4px;
  }
}

/* Lista de cards do CTA */
#footer-cta-cards-list {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > * {
    flex: 1; /* filhos compartilharem a mesma largura */
  }

  /* Container com o título e ícone */
  & .titulo-icone {
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Espaçamento */
    margin-bottom: 10px;

    /* Título */
    & h3 {
      width: 100%;
      text-align: left;
    }

    /* Ícone */
    & .icone {
      /* Círculo */
      background-color: var(--amarelo55);
      border-radius: 50%;
      /* Dimensões */
      height: 40px;
      width: 40px;
      /* Alinhamento: flexbox */
      display: flex;
      align-items: flex-start;
      justify-content: center;

      /* Ícone SVG */
      &::after {
        content: url("../../assets/svgs/ui-icons/ui-actions-icons/redirect-black.svg");
        /* Espaçamento */
        padding: 10px;
      }
    }
  }
}
