@charset "UTF-8";
/* Botões */

button {
  cursor: pointer;

  border: none;
}

/* Botão estilo 01 */
.button-style-01 {
  /* Padding */
  padding: 10px 14px !important;

  /* Tipografia */
  font-size: 0.875rem;
  font-weight: 500;
}

/* Botão primário */
.primary-button {
  background-color: var(--amarelo55);
  color: var(--letra-preta);

  /* Efeito hover */
  transition: background-color 1s ease-in-out;
  &:hover {
    background-color: var(--amarelo70) !important;
    border: none !important;
    /* Não alterar cor da letra */
    color: var(--letra-preta) !important;
  }
}

/* Botão de redirecionamento */
/* Ícone */
.redirect-button {
  /* Círculo */
  background-color: var(--amarelo55);
  border-radius: 50%;
  /* Dimensões */
  height: 40px;
  width: 40px;
  /* Alinhamento: flexbox */
  display: flex;
  align-items: flex-start;
  justify-content: center;

  /* Ícone SVG */
  &::after {
    content: url("../../assets/svgs/ui-icons/ui-actions-icons/redirect-black.svg");
    /* Espaçamento */
    padding: 10px;
  }

  /* Efeito hover */
  transition: background-color 1s ease-in-out;
  &:hover {
    /* Círculo */
    background-color: var(--amarelo70);
  }
}

/* Botão de redirecionamento 2 */
.redirect-button-02 {
  /* Aparência */
  background-color: var(--dark08);
  border-radius: 6px;
  border: 1px solid var(--dark15);

  /* Espaçamento */
  padding: 8px 14px;
  /* Flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  /* Tipografia */
  color: var(--letra-cinza2);

  /* Ícone no botão */
  &::after {
    content: url("../../assets/svgs/ui-icons/ui-actions-icons/redirect.svg");
  }

  /* Efeito hover */
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  &:hover {
    color: var(--letra-branca);
    border-color: var(--dark30);
  }
}
