@charset "UTF-8";
/* Botões */

button {
  cursor: pointer;

  border: none;
}

/* Botão estilo 01 */

/* Botão primário */
.primary-button {
  background-color: var(--amarelo55);
  color: var(--letra-preta);

  /* Efeito hover */
  transition: background-color 2s;
  &:hover {
    background-color: var(--amarelo80);
    border: none !important;
  }
}
