@charset "UTF-8";
/* Rodapé (footer) */
/* Mobile (vw < 1016px) */

/* Footer navigation */
#footer-navigation {
  margin-bottom: 40px;

  /* <ul> principal */
  & > ul {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* Espaçamento entre os itens */
    column-gap: 20px;
    row-gap: 20px;

    /* Blocos de links */
    & > li {
      height: 1fr; /* altura: 1fr (linha do grid) */

      /* Tipografia dos links de página */
      & > a {
        font-size: 1rem; /* 16px */
      }

      /* Tipografia dos links de seção */
      & > ul > li > a {
        font-size: 0.875rem; /* 14px */
      }

      /* Bloco de links de recursos */
      &.links-recursos-footer > ul {
        /* Flexbox */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 9px;
      }

      /* Bloco de links de recursos */
      &.links-recursos-footer {
        /* Ocupar 2 colunas */
        grid-column: span 2;
      }
    }
  }
}

/* Footer social e legal */
#footer-social-and-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
