@charset "UTF-8";
/* Rodapé (footer) */
/* Mobile (vw < 1016px */

/* Footer navigation */
#footer-navigation ul {
  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  /* Blocos de links */
  & > li {
    height: 1fr; /* altura: 1fr (linha do grid) */

    /* Tipografia dos links de página */
    & > a {
      font-size: 1rem; /* 16px */
    }

    /* Tipografia dos links de seção */
    & > ul > li > a {
      font-size: 0.875rem; /* 14px */
    }
  }
}
