@charset "UTF-8";
/* Rodapé (footer) */
/* Todas as telas */

footer#footer-principal {
  /* Espaçamento */
  padding-top: 40px;
  padding-bottom: 24px;

  /* Links */
  & a {
    /* Remover underline */
    text-decoration: none;
  }
  & ul {
    list-style-type: none;
  }
}

/* Footer navigation */
#footer-navigation ul {
  /* Blocos de links */
  & > li {
    display: flex;
    flex-direction: column;
    gap: 16px;

    /* Largura (área de toque) dos links */
    & a {
      width: fit-content;
    }

    /* Tipografia dos links de páginas */
    & > a {
      font-weight: 500;
    }

    & > ul {
      /* Flexbox */
      display: flex;
      flex-direction: column;
      gap: 8px;

      /* Tipografia dos links de seção */
      & a {
        color: var(--letra-cinza2);
        font-weight: normal;
      }
    }
  }
}
