@charset "UTF-8";
/* Backgrounds */

/* Background padrão */
body {
  background: var(--background-primario);
}

.background-primary {
  background: var(--background-primario);
}

.background-secondary {
  background: var(--background-secundario);
}
