@charset "UTF-8";
/* Variáveis CSS e classe container */

:root {
  /* Container mobile */
  --container: 91vw;

  /* Calcular padding lateral para container */
  --padding-lateral-container: calc((100vw - var(--container)) / 2);
}

/* Container desktop (em telas maiores que 1408px, aplica 1280px de container, em vez da porcentagem da viewport) */
/* Nota: 91% de 1408 é 1281.28, o que garante uma mudança suave e não perceptível na mudança da largura do container. */
@media screen and (min-width: 1408px) {
  :root {
    --container: 1280px;
  }
}

/* Classe */
.pd-container {
  /* width: 100%; */
  padding-left: var(--padding-lateral-container) !important;
  padding-right: var(--padding-lateral-container) !important;

  transition: padding 2s;
}
