@charset "UTF-8";
/* Variáveis CSS e classe container */

:root {
  /* Container mobile */
  --container: 90vw;

  /* Calcular padding lateral para container */
  --padding-lateral-container: calc(100vw - var(--container));
}

/* Container desktop ( */
@media screen and (min-width: 1300px) {
  :root {
    --container: 1280px;
  }
}
