@charset "UTF-8";

/* Variáveis CSS */
@import url("variaveis.css");

/* Tipografia */
@import url("tipografia/tipografia.css");

/* Container */
@import url("container.css");

/* Backgrounds */
@import url("backgrounds.css");

/* Header */
@import url("header-navbar/header-geral.css");
@import url("header-navbar/header-mobile.css") screen and (max-width: 816px);
/* Navbar */
@import url("header-navbar/navbar-geral.css");

/* Componentes */
/* Botões */
@import url("components/buttons.css");
