@charset "UTF-8";
/* Tipografia */

/* Tipografia padrão */
body {
  font-family: var(--fonte-corpo);
  font-size: 1rem;

  color: var(--letra-branca);
}

/* Títulos */
h1,
h2,
h3 {
  font-family: var(--fonte-destaque);
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 700;
}

/* Links */
a {
  color: inherit; /* Herdar cor do elemento pai */
}

/* Não quebrar texto */
.nowrap {
  text-wrap: nowrap;
}
