@charset "UTF-8";
/* Tipografia */

/* Tipografia padrão */
body {
  font-family: var(--fonte-corpo);
  font-size: 1rem;

  color: var(--letra-branca);
}

/* Transição ao aumentar ou diminuir fonte */
* {
  transition: font-size 2s;
}

/* Títulos */
h1,
h2,
h3 {
  font-family: var(--fonte-destaque);
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4 {
  font-weight: 700;
}

/* Títulos nível 2 */
h2 {
  /* Geral */
  /* Mobile */
  font-size: 1.75rem;
}

/* Links */
a {
  color: inherit; /* Herdar cor do elemento pai */
}

/* Parágrafos */
p {
  /* Geral */
  color: var(--letra-cinza2);
  /* Mobile */
  font-size: 0.875rem;
}

/* Classe para não quebrar texto */
.nowrap {
  text-wrap: nowrap;
}
